{% extends 'skeleton.html' %}

{% block content %}
    <div class="tab-pane active container" id="model">

        <!--third part - download your output-->
        <div class="card bg-light mb-4">
            <div class="card-header">
                <h4 class="text-primary">3. Download your ouput files</h4>
            </div>
            <div class="card-body">

                {% if chart is defined and chart %}

                    {{ chart|safe }}

                {% endif %}

                <a href="{{ url_for('static', filename='output/' + config['MODEL_OUTPUT']) }}"
                   class="btn btn-outline-primary">Download your output file</a>
                <a href="{{ url_for('static', filename='output/' + config['MODEL_OUTPUT']) }}"
                   class="btn btn-outline-primary">Download your statistics file</a>


            </div>
        </div>


    </div>

{% endblock %}