{% extends 'skeleton.html' %}

{% block content %}
    <div class="container">

    <div class="row">
         <div class="col-sm">
         </div>

        <div class="col-sm">
        <a href="{{ url_for('load_data', context='find_model')}}" class="btn btn-outline-info btn-lg" >Find the best model</a>
        </div>

        <div class="col-sm">
        <a href="{{ url_for('load_data', context='run_model') }}" class="btn btn-outline-primary btn-lg" >Run the model</a>
        </div>

        <div class="col-sm">
        </div>

    </div>
    </div>
{% endblock %}