{% extends 'skeleton.html' %}

{% block content %}
        <div class="tab-pane active container" id="model">

        <div class="card bg-light mb-4">
      <div class="card-header">
        <h4 class="text-primary">4. Save your model</h4>
      </div>
      <div class="card-body">
        <p class="card-text text-muted">if the accuracy score and the confusion matrix are satisfying, you can save the model to run it later for predictions</p>
          {%  if score  is defined %}
        <p>{{ 'Accuracy score: ' + '{0:.0f}%'.format(score*100) }}</p>

          {% endif %}

     <form method="post">
         <input type="submit" value="Save" class="btn btn-outline-primary">
      </form>

      </div>
    </div>
        
        </div>

{% endblock %}