

<!-- skeleton for web pages  -->

<!DOCTYPE html>
<html lang="en">
<head>

    {% block header %}
  <title>SmartRecon</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
    {%  endblock %}
</head>

<body>

{% block head %}

    <nav class="navbar navbar-light bg-light" style="background-color: aliceblue">
  <a class="navbar-brand" href={{ url_for('index') }}>
    <img src="/static/robot.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SmartRecon
  </a>
    </nav>

    <div class="container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="row">
        <div class="col-sm-4 text-center">
          <img src="/static/robot.png" class="img-rounded" alt="cute robot">
        </div>
        <div class="col-sm-8">
          <h1 class="display-4">SmartRecon</h1>
            <p class="lead">the intelligent reconciliation</p>
            <p class="mute">This application uses automated machine learning for algorithm selection, hyperparameter tuning, iterative modeling and model assessment. This application tries to make the machine learning technology accessible to every professional.</p>
            <p class="mute">The performance of the algorithms can be improved with feature engineering. A good knowledge of the business to select and extract the most relevant features is necessary.</p>
        </div>
      </div>
    </div>
  </div>

    </div>
{%  endblock %}

{% block content %}

{% endblock %}

</body>
</html>